@import '~bootstrap/scss/bootstrap';
@import './components/auth';

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #112d49;
  color: #fff;
}
table {
  min-width: 700px;
}
